/* Sector Universal */
*{
    padding: 0;
    margin: 0;
}
/*Selector de etiqueta */
body{
    background-color: #040705;
    color: white;
}
/* Selector de clase */
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;
}
.img{
    width: 300px;
    border-radius: 5px;
    justify-items: center;
    padding: 10px;
}
.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: rgb(83,152,87);
    color: rgb(255,255,255);
    margin: 1em 2em;
    border-radius: 5px; 
}
.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;
    margin: 1em 2em;
}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0, 25px;
}
.lista-aside{
    padding: 10px;
}
.lista-aside li{ /*elexmentos de lo que está en la lista */
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}
/*selector de id*/
#contenedor{
    width: 900px;
    height: auto;
    background-color: #648869;
    max-width: 0 auto;
    border-radius: 5px;
    padding: 2px;
}
#encabezado{
    width: 30%; 
    background-color: #d2e4d3;
    color: #28c71c;
    margin: 1em;
    border-radius: 5px;
    padding: 10 50px; 
}
#menu{
    display: flex;
    padding: 10px;  
    justify-content: center;
    height: 20%;
    background-color: #0a0a0a88; 
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    margin-right: 0;
    margin-bottom: 10px;
}

#contenido{
    height: auto;
    width: 58%;
    background-color: #50df74;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
#contenido-Auto{
    height: 78%;
    width: 98%;
    background-color: #50df74;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
#fueraSeccion{
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}
#pie {
    height: 10%;
    background-color: #4c5041;
    margin: 0.5em;
    text-align: center;
    
}
#pie h4{
    padding: 15px;
    font-size: 30px;
}
/*Selector de etiqueta*/
ul{ 
    padding: 10px;
}
li{
    display: inline;
    justify-content: center;
    padding: 10px 30px;
    margin: 3em;
}
li a{
    color: rgb(253, 253, 253);
    line-height: 20px;
    font-size: 20px; 
    font-style: oblique;
}
li a:hover{
    color: rgb(79, 13, 155);
    text-decoration: none;
    list-style: none;
}
#encabezado-main{
    width: 42%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #080a087e;
    color: #cecece;
    margin: 1em;
    border-radius: 5px;
}
#contenedor-main{
    margin-top: 50px;
    width: 700px;
    height: auto;
    background-color: rgb(77, 26, 196);
    border-radius: 5px;
    padding: 30px;
    border-color: rgb(36, 24, 24);
    border-style: double; 
}
#contenedor-prac{
    margin-top: 10px;
    width: 600px;
    padding: 5px;
    height: auto;
    background-color: #0a0c0a; 
    border-radius: 10px;
}
#text-t{
    color: black;
    font-size: 30px;
    font-style: italic;
}
#text-main{
    color: rgb(58, 147, 182);
    font-size:20px;
}
#text-Auto{
    color: black;
    font-size: 20px;
    font-style: italic;
}
@media screen and (max-width: 1250px) {
    #fueraSeccion{
        width: 100%;
    }
    #contenido{
        width: 98%;
    }
    #contenedor{
        width: 80%;
    }
    .img{
        width: 60%;
    }
    #menu{
        flex-direction: row;
        align-items: center;
        text-align: center; 
        justify-content: center;
    }
    #menu ul{
        display: flex;
        flex-direction: column; 
    }
    

}