* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(252, 0, 113, 0.856);
    color: black;
}

a {
    text-decoration: none;
}

.texto {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    line-height: 30px;
}

.img {
    width: 200px;
    padding: 25px;
    justify-items: center;
}

.img:hover {
    transform: scale(1.85)
}

.gif {
    width: 200px;
    padding: 20px;
    justify-items: center;
}

.img-gif {
    width: 250px;
    height: 250px;
    background-image: url('/img/cubo-rubikpng.png'); 
    background-size: cover;
    transition: background-image 0.3s ease; 
    margin: 0 auto;
}
 
.img-gif:hover {
    background-image: url('/img/cubo-rubikgif.gif'); 
}

picture {
    border-radius: 100px;
}

#logo {
    padding: 10px 20px 10px 65px;
    /* top right bottom left */
    width: 60px;
    color: white;
}

#logo img {
    max-width: 100%;
    height: auto;
}

#log-header {
    width: 300px;
    display: flex;
    align-items: center;
}

#cabecera {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#cabecera h1 {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#cabecera h1:hover {
    color: rgb(201, 25, 186);
}

#nav-cab {
    margin-left: auto;
}

#nav-cab ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

#nav-cab ul li {
    margin: 0 10px;
    line-height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#nav-cab ul li a {
    color: rgb(255, 0, 140);
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

#nav-cab ul li a:hover {
    color: #d681c8;
} 
.contenedor {
    height: auto; 
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: linear-gradient(70deg, #be20a4, #1b1b1b);
}

.contenedor2 {
    height: auto; 
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: rgb(109, 40, 100);
}

.contenedor3 {
    height: auto; 
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: linear-gradient(70deg, #181818, #540e5a);
} 
.contenedor1 {
    height: auto; 
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: rgb(32, 12, 26);
} 
.contenido1 {
    width: 66%;
    padding: 20px;
    text-align: center
}  
.contenido2 {
    width: 66%;
    padding: 20px;
    text-align: center 
} 
.contenido3 {
    width: 66%;
    padding: 20px;
    text-align: center 
} 
.contenido1 h2 {
    padding: 10px 0;
    color: rgba(250, 250, 250, 0.199);
    font-size: 40px;
} 
.texto1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
    ;
    line-height: 30px;
    color: rgb(255, 0, 140);
} 
.h-c {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    padding: 10px;
    ;
    color: rgb(90, 38, 67);
} 
.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: rgb(32, 12, 26);
    padding: 30px;
    box-sizing: border-box;
} 
.card {
    width: 220px;
    height: 280px;
    padding: 15px;
    background-color: #050505;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
} 
.card:hover {
    transform: translateY(-10px);
} 
.card h3 {
    color: rgb(255, 0, 140);
    font-size: 20px;
    line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

} 
.card p {
    line-height: 1.2em;
    color: #8f1761;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
#cub-Cont {
    width: 120px;
    height: 120px;
    padding: 25px;
    justify-items: center;
} 
.pie {
    height: 10%;
    background-color: #3a251c;
    text-align: center;
} 
@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .card {
        margin-top: 20px;
    }

    #cabecera {
        flex-direction: column; 
        align-items: center;
    }

    #log-header {
        margin-bottom: 10px; 
    }

    #cabecera h1 {
        font-size: 20px; 
        text-align: center; 
        margin-left: 0; 
    }

    #nav-cab {
        margin-left: 0;
        margin-top: 10px;
    }

    #nav-cab ul {
        flex-direction: column;
        align-items: center;
    } 
}