/* Sector Universal */
*{
    padding: 0;
    margin: 0;
}
/*Selector de etiqueta */
body{ 
    color: white;
    margin: 20px;
    padding: 10px;
}
/* Selector de clase */
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
}
.img{
    max-width: 60%;
    height: auto;
    border: 1px solid;      
} 
.lista-aside{
    padding-top: 15px;
    font-size: 25px;
    text-align: justify;
    font-style: italic;
}
/*selector de id*/
#contenedor{
    max-width:80%;
    height: auto;
    background-color: #2f2d1c; 
}
#encabezado{  
    background-color: #3a251c;
    width: auto; 
    align-items: center;
} 
nav{
    display: flex;
    flex-direction: row; 
    background-color: #2f2d1c; 
}
nav ul li {
    margin-bottom: 10px;
}
#contenido{ 
    height: 72%;
    width: 65%;
    background-color: rgb(96, 72, 26) ;
    display: inline-block;
    text-align: center;     
} 
#fueraSeccion{
    height: 72%;
    width: 34.6%; 
    background-color:#b58c7c;
    display: inline-block; 
    vertical-align: top;
}
#pie {
    height: 10%;
    background-color:#3a251c;
    text-align: center;   
}
#pie h4{
    padding: 30px;
    font-size: 20px;
    color: white;
}
/*Selector de etiqueta*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a{
    color: rgb(253, 253, 253);
    font-size: 20px; 
    font-style: italic;
}
li a:hover{
    color: rgb(173, 115, 127);
    text-decoration: none;
    list-style: none;
}
#h-enc{
    text-align: center;
    align-items: center; 
    font-size: 20px;
    padding-top:20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 1250px) {
    #contenido, #fueraSeccion, #encabezado{
        width: 100%;
    }

    nav ul {
        flex-direction: column;  
    }


    .img {
        width: 100%;  
        height: auto;  
        margin: 5px 0; 
    }
}