*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}
.contenedor{
    margin: auto;
    background-color: rgba(114, 114, 158, 0.116);
    width: 900px;
    height: 850px;
    border: 5px solid rgb(46, 20, 77);
}
h1{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nombre{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}
.nombre input{
    width: 420px;
    height: 25px;
    margin-left: 20px;
}
.fechaNacimiento{
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}
.fechaNacimiento input{
    width: 150px;
    margin-left: 20px;
    height: 25px;
}
.lugarNacimiento{
    font-weight: bold;
    text-align: right;
    margin-top: -180px;
    margin-bottom: 100px;
}
.lugarNacimiento select{
    width: 155px;
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
}
.poblacion{
    font-weight: bold;
    text-align: left;
    float: right; 
    margin-top: -80px;
    margin-right: 10px;
}
.poblacion input{
    height: 20px;
}
.idiomas{
    text-align: left;
    padding: 10px;
    float: right;
    margin-top: -40px;
    margin-right: 40px;
}
.idiomas li{
    width: 220px;
    height: auto;
    background-color: rgba(170, 171, 240, 0.589);
    list-style: none;
    padding: 5px;

}
.idiomas input{
    margin-top: 30px;
    margin-left: 35px;
}
.sexo{
    text-align: left;
    padding-left: 10px;
    padding-top: 30px;
    width: 240px;
}
.sexo li{
    width: 265px;
    height: 60px;
    background-color: rgba(5, 5, 0, 0.116);
    list-style: none;
}
.sexo input{
    margin-top: 20px;
    margin-left: 20px;
}
.correo{
    margin-top: 70px; 
    width: 210px;
    float: left;
    text-align: left;
    margin-left: 20px; 
    height: 25px;
    color: black;
}
.egresoPrimaria{
    float: left;
    text-align: left;
    padding-top: 0px;
    padding-right: 400px;
    padding-left: 20px; 
}
.egresoPrimaria input{
    margin-left: 40px;
}
.habitos{
    margin-right: 40px;
    padding: 10px;
    text-align: left;
    float: right;
    margin-top: -20px;
    font-weight: bold; 
}
.habitos textarea{
    width: 450px;
}
.ingresos{
    text-align: center;
    float: left;
    margin-top: -10px;
    font-weight: bold;
    margin-left: 20px;
}
.ingresos input{
    margin-top: 20px;
    width: 500px; 
}
.horario{
    font-weight: bold;
    margin-right: 100px;
    margin-left: 20px;
    float: left;
    margin-top: -40px;
}
.horario input{
    margin-top: 100px;
    max-width: 90px;
}
#botones{
    margin-top: 170px; 
    margin-right: 10px;
    float: right;
    width: auto; 
    height: auto;  
    min-width: 150px;  
    padding: 10px 20px;  
    background-color: rgba(91, 136, 136, 0.452);
    border-radius: 5px;
    text-align: center;

}
#listaIngreso{
    font-size: 8px;
    word-spacing: 2.2em;
}